[submodule "firos/include/FiwareObjectConverter"]
	path = firos/include/FiwareObjectConverter
	url = https://github.com/iml130/FiwareObjectConverter.git
[submodule "firos/include/genpy"]
	path = firos/include/genpy
	url = git@github.com:ros/genpy.git
